<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Placement-Portal Home</title>
    </head>
    <body>

        <div>
            <p1><a href="{{  url_for('login')  }}">All ready have an Account</a></p1>
        </div>

        <div>
            <p1><a href="{{  url_for('register_student')  }}">Register as a New Student</a></p1>
        </div>

        <div>
            <p1><a href="{{  url_for('register_company')  }}">Register as a New Company</a></p1>
        </div>  
        
    </body>
</html>