<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Login</title>
    </head>

    <body>
        <form action="/login" method="post">
            <div>
                <label for="email">Email Address</label>

                <input type="email" name="email" id="email" autocomplete="off" required placeholder="Type your email">
            </div>

            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" autocomplete="off" placeholder="Type your password">
            </div>

            <div>
                <button type="submit">Login</button>
            </div>

        </form>
    </body>
</html>