<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            register_student
        </title>
    </head>

    <body>
        <form action="/register/student" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" required>
            </div>
            
            <div>
                <label for="full_name">Full Name</label>
                <input type="text" name="full_name" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" required>
            </div>
            <div>
                <label for="branch">Branch</label>
                <input type="text" name="branch" required>
            </div>
            <div>
                <label for="cgpa">Current CGPA</label>
                <input type="number" name="cgpa" step="0.001" min="0" max="10" required>
            </div>

            <div>
                <label for="resume_url">Resume</label>
                <input type="url" name="resume_url" required placeholder="Resume URL">
            </div>

            <button type="submit">
                Create Account
            </button>
            
        </form>
    </body>
</html>