<!DOCTYPE html>
<html>
    <head>
        <title>
            Applicants for {{  drive.job_title  }}
        </title>
    </head>
    <body>
        <h1>
            Applicants for {{  drive.job_title  }}
        </h1>
        <a href="{{  url_for('company_dashboard')  }}">Back to Dashboard</a>
        <hr>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Branch</th>
                    <th>CGPA</th>
                    <th>Resume</th>
                    <th>Status</th>
                </tr>
    
            </thead>

            <tbody>
                {%  for app in applications  %}
                <tr>
                    <td>{{  app.student.full_name  }}</td>
                    <td>{{  app.student.branch  }}</td>
                    <td>{{  app.student.cgpa  }}</td>
                    <td><a href="{{  app.student.resume_url  }}">Download</a></td>
                    <td>{{  app.status  }}
                        <a href="{{  url_for('update_status', app_id=app.app_id, new_status='Shortlisted')  }}" class="btn" btn-primary>Shortlist</a>
                        <a href="{{  url_for('update_status', app_id=app.app_id, new_status='Selected')  }}" class="btn" btn-success>Select</a>
                        <a href="{{  url_for('update_status', app_id=app.app_id, new_status='Rejected')  }}" class="btn" btn-danger>Reject</a>
                    </td>                    
                </tr>
                {%  else  %}
                <tr>
                    <td colspan="4">No Applicants Yet.</td>
                </tr>
                {%  endfor  %}
            </tbody>
        </table>
    </body>
</html>